.featured-article {
  @include container;
  text-align: center;

  @media screen and (max-width: $mobile) {
    padding-top: 0;
  }

  &__image {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    margin: 4% 1.5% 5% 0;
    padding-top: 15.5%;
    transition: all $transition-duration;
    vertical-align: middle;
    width: 15.5%;

    &:hover {
      opacity: $video-opacity;
    }

    @media screen and (max-width: $mobile) {
      display: block;
      margin: -9.5% auto 2%;
      padding-top: 25%;
      width: 25%;
    }

    @media screen and (max-width: $small) {
      margin-top: -14.5%;
      padding-top: 35%;
      width: 35%;
    }
  }

  &__text {
    display: inline-block;
    max-width: 82%;
    text-align: left;
    vertical-align: middle;

    @media screen and (max-width: $mobile) {
      display: block;
      margin-bottom: 5%;
      max-width: 100%;
      text-align: center;
    }

    p {
      color: $small-heading;
      font-size: .77778em;
      font-weight: 700;
      margin-bottom: .3%;
      text-transform: uppercase;
      transition: all $transition-duration;
    }

    p:hover {
      color: darken($small-heading, 20);
    }

    h4 {
      transition: all $transition-duration;
    }

    h4:hover {
      color: darken($font, 20);
    }

    strong {
      font-family: $third-font;

      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
  }
}
