.header-banner {
  min-width: $minimum;
  overflow: hidden;
  padding: 170px 0 169px;
  position: relative;

  @media screen and (max-width: $responsive) {
    padding: 16% 0;
  }

  &--opacity {
    background-color: $background;
    height: 100%;
    left: 0;
    opacity: $video-opacity;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &__cover {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  video {
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    width: auto;
    z-index: -1;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__title {
    @include container;
    position: relative;
    text-align: center;
    z-index: 1;

    h1 {
      color: $header;
      line-height: .9;
      margin-bottom: -5px;
    }

    h5 {
      color: $small-heading;
      font-family: $secondary-font;
      font-style: italic;
      font-weight: 500;
      line-height: 1;
    }
  }
}
