.link-buttons {
  @include container;
  @include clearfix;
  overflow: hidden;
  padding: 7% 0 6.5%;
  position: relative;

  .circle--background {
    @media screen and (max-width: $mobile) {
      display: block;
      left: -125%;
      padding-top: 350%;
      width: 350%;
    }
  }

  &__split {
    float: left;
    padding: 0 2%;
    text-align: center;
    width: 50%;

    @media screen and (max-width: $mobile) {
      float: none;
      margin-bottom: 5%;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 {
      font-weight: 700;
      margin-bottom: 1%;
    }

    p {
      font-family: $secondary-font;
      font-size: .88889em;
      line-height: 1.7;
    }

    ul {
      margin-top: 3.6%;
    }

    li {
      display: inline-block;
      margin: 2.1% 1.7%;

      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
  }
}
