.mission {
  @include container;
  margin-bottom: 65px;

  @media screen and (max-width: $mobile) {
    margin-bottom: 6.5%;
    padding: 0;
  }

  h6 {
    text-align: center;

    strong {
      font-family: $third-font;

      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
  }
}

.mission-content {
  @include clearfix;
  margin-bottom: 6.5%;
  overflow: hidden;
  padding: 4% 0;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $mobile) {
    padding: 4% 5%;
  }

  h2,
  h4 {
    width: 85%;
    word-break: break-word;

    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  h2 {
    line-height: .88;
    margin-bottom: -.5%;
    padding-top: 4%;

    &.invert {
      font-family: $main-font;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 1.6%;
    }
  }

  h4 {
    border-bottom: 6px solid $default;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 2%;
    padding-bottom: 1.5%;

    @media screen and (max-width: $mobile) {
      border-bottom-width: 4px;
    }

    &.invert {
      font-family: $third-font;
      font-weight: 400;
      line-height: .88;
      padding-bottom: .3%;
    }
  }

  &__image {
    display: block;
    float: left;
    left: 27.5%;
    margin-left: -27.5%;
    padding-left: 8.5%;
    position: relative;
    width: 75%;

    @media screen and (max-width: $mobile) {
      padding: 0;
      width: 100%;
    }
  }

  &__person {
    float: right;
    max-width: 49%;
    position: relative;
    z-index: 2;

    &.no-person {
      display: none;
    }

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &--right {
    .circle--background__mobile {
      left: 10%;
      right: auto;
    }

    h2,
    h4 {
      margin-left: 15%;
      text-align: right;
      width: 85%;

      @media screen and (max-width: $mobile) {
        margin-left: 0;
        width: 100%;
      }
    }

    .mission-content__image {
      float: right;
      left: auto;
      margin-left: 0;
      margin-right: -27.5%;
      padding-left: 0;
      padding-right: 8.5%;
      right: 27.5%;

      @media screen and (max-width: $mobile) {
        padding: 0;
      }
    }

    .mission-content__person {
      float: left;
    }

    .mission-content__description {
      clear: right;
      float: right;
      left: auto;
      margin-left: 0;
      margin-right: -12.5%;
      padding-left: 0;
      padding-right: 8.5%;
      right: 12.5%;

      @media screen and (max-width: $mobile) {
        float: left;
        padding-right: 0;
        right: auto;
      }
    }

    .mission-content__navigation {
      clear: left;
      float: left;
      padding-left: 6.5%;
      padding-right: 0;

      @media screen and (max-width: $mobile) {
        padding-left: 0;
        width: 85%;
      }
    }
  }
}

.mission-content__description {
  clear: left;
  float: left;
  left: 12.5%;
  margin-left: -12.5%;
  padding-left: 8.5%;
  padding-top: 3.2%;
  position: relative;
  width: 58%;

  @media screen and (max-width: $mobile) {
    padding-left: 0;
    width: 85%;
  }

  h3 {
    margin-bottom: 3%;
  }

  strong {
    color: $default;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin: -1% 0 1.6%;
    text-transform: uppercase;
  }

  p {
    font-family: $secondary-font;
    font-size: .88889em;
    line-height: 1.5;
  }
}

.mission-content__navigation {
  clear: right;
  float: right;
  margin-top: -1.9%;
  padding-right: 6.5%;
  position: relative;
  width: 35%;
  z-index: 1;

  @media screen and (max-width: $mobile) {
    float: left;
    margin-top: 4%;
    padding-right: 0;
    width: 85%;
  }

  &.has-person {
    margin-top: 4%;
  }

  strong {
    background-color: $default;
    color: $background;
    display: block;
    font-size: .77778em;
    font-weight: 700;
    line-height: 1;
    padding: 5% 8%;
    text-transform: uppercase;

    @media screen and (max-width: $mobile) {
      padding: 2.2% 3.8%;
    }
  }

  nav {
    padding: 7%;

    @media screen and (max-width: $mobile) {
      padding: 4%;
    }
  }

  li {
    margin-bottom: 5%;

    @media screen and (max-width: $mobile) {
      margin-bottom: 2%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .link {
    line-height: .9;
  }
}
