// scss-lint:disable VendorPrefix

@-skrollr-keyframes article {
  skrollr-40p-top {
    margin-top: 1%;
  }

  skrollr-30p-top {
    margin-top: -1%;
  }
}

@-skrollr-keyframes mission-person {
  skrollr-90p-top {
    margin-top: 10%;
  }

  skrollr-60p-top {
    margin-top: 0;
  }
}

@-skrollr-keyframes mission-title {
  skrollr-100p-top {
    margin-top: 20%;
  }

  skrollr-40p-top {
    margin-top: 0;
  }
}

@-skrollr-keyframes mission-image {
  skrollr-100p-top {
    margin-top: 10%;
  }

  skrollr-50p-top {
    margin-top: 0;
  }
}

@-skrollr-keyframes mission-description {
  skrollr-90p-top {
    margin-top: 10%;
  }

  skrollr-50p-top {
    margin-top: 0;
  }
}

@-skrollr-keyframes split-container-links {
  skrollr-110p-top {
    margin-top: 15%;
  }

  skrollr-70p-top {
    margin-top: 0;
  }
}


.featured-article--animation {
  -skrollr-animation-name: article;
}

.mission-content__person--animation {
  -skrollr-animation-name: mission-person;
}

.mission-content__title--animation {
  -skrollr-animation-name: mission-title;
}

.mission-content__image--animation {
  -skrollr-animation-name: mission-image;
}

.mission-content__description--animation {
  -skrollr-animation-name: mission-description;
}

.link-buttons__split--animation {
  -skrollr-animation-name: split-container-links;
}
