.circle--background {
  background-color: $default;
  border-radius: 50%;
  left: 0;
  opacity: $mission-opacity;
  padding-top: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  @media screen and (max-width: $mobile) {
    display: none;
  }

  &__mobile {
    background-color: $default;
    border-radius: 50%;
    display: none;
    height: 100%;
    opacity: $mission-opacity;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: -1;

    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
}
