@mixin divider {
  border-top: 1px solid $default;
  display: inline-block;
  vertical-align: top;
}

.divider {
  line-height: 1;

  &--heading {
    margin: .8% auto 3%;
    width: 50%;

    span {
      border-color: $divider;
    }
  }

  &--mission {
    width: 100%;
  }

  &__line {
    @include divider;
    width: calc(50% - 15px);

    &--left {
      @include divider;
      width: calc(17% - 15px);
    }

    &--right {
      @include divider;
      width: calc(83% - 15px);
    }
  }

  &__arrow {
    border: 1px solid $default;
    display: inline-block;
    height: 15px;
    margin: -7px 2px 0;
    transform: rotate(138deg) skewX(20deg) skewY(20deg);
    vertical-align: top;
    width: 15px;

    &--down {
      border-bottom: 0;
      border-left: 0;
    }

    &--up {
      border-right: 0;
      border-top: 0;
    }
  }
}
