.link {
  color: $link;
  display: block;
  font-size: .88889em;
  transition: all $transition-duration;

  &::after {
    content: '\FFEB';
    font-size: 20px;
    margin-left: 7px;
    position: relative;
    top: 1px;
  }

  &:hover {
    color: darken($link, 20);
  }
}

.link-button {
  border: 1px solid $default;
  color: $default;
  display: inline-block;
  font-size: .77778em;
  font-weight: 600;
  line-height: 1;
  max-width: 350px;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: all $transition-duration;

  @media screen and (max-width: $mobile) {
    padding: 10px 5px;
    width: 71%;
  }

  &:hover {
    background-color: $default;
    color: $background;
  }
}
