@import url("//hello.myfonts.net/count/30e4c0");
@font-face {
  font-family: 'DINBlack';
  src: url("../webfonts/DIN_Black.eot");
  src: url("../webfonts/DIN_Black.eot?#iefix") format("embedded-opentype"), url("../webfonts/DIN_Black.woff2") format("woff2"), url("../webfonts/DIN_Black.woff") format("woff"), url("../webfonts/DIN_Black.ttf") format("truetype"), url("../webfonts/DIN_Black.svg#wf") format("svg"); }

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

body {
  background-color: #fff;
  color: #333;
  font-family: "ff-din-web", sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; }
  @media screen and (max-width: 1064px) {
    body {
      font-size: 17px; } }
  @media screen and (max-width: 900px) {
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h6 {
  text-transform: uppercase; }

h1,
h2,
h3 {
  font-family: "DINBlack"; }

h1,
h2,
h3,
h4,
h6,
strong {
  font-weight: 400; }

h1 {
  font-size: 6.11111em; }
  @media screen and (max-width: 1064px) {
    h1 {
      font-size: 5.08889em; } }
  @media screen and (max-width: 900px) {
    h1 {
      font-size: 4.27111em; } }
  @media screen and (max-width: 720px) {
    h1 {
      font-size: 3.40222em; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2.53333em; } }

h2,
h4.invert {
  font-size: 5em; }
  @media screen and (max-width: 1064px) {
    h2,
    h4.invert {
      font-size: 4.2em; } }
  @media screen and (max-width: 900px) {
    h2,
    h4.invert {
      font-size: 3.56em; } }
  @media screen and (max-width: 720px) {
    h2,
    h4.invert {
      font-size: 2.88em; } }
  @media screen and (max-width: 480px) {
    h2,
    h4.invert {
      font-size: 2.2em; } }

h3 {
  font-size: 2.66667em; }
  @media screen and (max-width: 1064px) {
    h3 {
      font-size: 2.33334em; } }
  @media screen and (max-width: 900px) {
    h3 {
      font-size: 2.06667em; } }
  @media screen and (max-width: 720px) {
    h3 {
      font-size: 1.78333em; } }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 1.5em; } }

h2.invert,
h4 {
  font-size: 2em; }
  @media screen and (max-width: 1064px) {
    h2.invert,
    h4 {
      font-size: 1.8em; } }
  @media screen and (max-width: 900px) {
    h2.invert,
    h4 {
      font-size: 1.64em; } }
  @media screen and (max-width: 720px) {
    h2.invert,
    h4 {
      font-size: 1.47em; } }
  @media screen and (max-width: 480px) {
    h2.invert,
    h4 {
      font-size: 1.3em; } }

h5 {
  font-size: 1.66667em; }
  @media screen and (max-width: 1064px) {
    h5 {
      font-size: 1.53334em; } }
  @media screen and (max-width: 900px) {
    h5 {
      font-size: 1.42667em; } }
  @media screen and (max-width: 720px) {
    h5 {
      font-size: 1.31333em; } }
  @media screen and (max-width: 480px) {
    h5 {
      font-size: 1.2em; } }

h6 {
  font-size: 1em; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

*,
* ::before,
* ::after {
  box-sizing: border-box; }

.link {
  color: #2a85ad;
  display: block;
  font-size: .88889em;
  transition: all 0.3s; }
  .link::after {
    content: '\FFEB';
    font-size: 20px;
    margin-left: 7px;
    position: relative;
    top: 1px; }
  .link:hover {
    color: #16465b; }

.link-button {
  border: 1px solid #70b6bc;
  color: #70b6bc;
  display: inline-block;
  font-size: .77778em;
  font-weight: 600;
  line-height: 1;
  max-width: 350px;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: all 0.3s; }
  @media screen and (max-width: 720px) {
    .link-button {
      padding: 10px 5px;
      width: 71%; } }
  .link-button:hover {
    background-color: #70b6bc;
    color: #fff; }

.divider {
  line-height: 1; }
  .divider--heading {
    margin: .8% auto 3%;
    width: 50%; }
    .divider--heading span {
      border-color: #b7b7b7; }
  .divider--mission {
    width: 100%; }
  .divider__line {
    border-top: 1px solid #70b6bc;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 15px); }
    .divider__line--left {
      border-top: 1px solid #70b6bc;
      display: inline-block;
      vertical-align: top;
      width: calc(17% - 15px); }
    .divider__line--right {
      border-top: 1px solid #70b6bc;
      display: inline-block;
      vertical-align: top;
      width: calc(83% - 15px); }
  .divider__arrow {
    border: 1px solid #70b6bc;
    display: inline-block;
    height: 15px;
    margin: -7px 2px 0;
    -webkit-transform: rotate(138deg) skewX(20deg) skewY(20deg);
            transform: rotate(138deg) skewX(20deg) skewY(20deg);
    vertical-align: top;
    width: 15px; }
    .divider__arrow--down {
      border-bottom: 0;
      border-left: 0; }
    .divider__arrow--up {
      border-right: 0;
      border-top: 0; }

.circle--background {
  background-color: #70b6bc;
  border-radius: 50%;
  left: 0;
  opacity: 0.1;
  padding-top: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 720px) {
    .circle--background {
      display: none; } }
  .circle--background__mobile {
    background-color: #70b6bc;
    border-radius: 50%;
    display: none;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: -1; }
    @media screen and (max-width: 720px) {
      .circle--background__mobile {
        display: block; } }

.header-banner {
  min-width: 320px;
  overflow: hidden;
  padding: 170px 0 169px;
  position: relative; }
  @media screen and (max-width: 1064px) {
    .header-banner {
      padding: 16% 0; } }
  .header-banner--opacity {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }
  .header-banner__cover {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2; }
  .header-banner video {
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
            transform: translateX(50%) translateY(50%);
    width: auto;
    z-index: -1; }
    @media screen and (max-width: 720px) {
      .header-banner video {
        display: none; } }
  .header-banner__title {
    margin: 0 auto;
    min-width: 320px;
    width: 1024px;
    position: relative;
    text-align: center;
    z-index: 1; }
    @media screen and (max-width: 1064px) {
      .header-banner__title {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%; } }
    .header-banner__title h1 {
      color: #000;
      line-height: .9;
      margin-bottom: -5px; }
    .header-banner__title h5 {
      color: #9b242d;
      font-family: "minion-pro";
      font-style: italic;
      font-weight: 500;
      line-height: 1; }

.featured-article {
  margin: 0 auto;
  min-width: 320px;
  width: 1024px;
  text-align: center; }
  @media screen and (max-width: 1064px) {
    .featured-article {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; } }
  @media screen and (max-width: 720px) {
    .featured-article {
      padding-top: 0; } }
  .featured-article__image {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    margin: 4% 1.5% 5% 0;
    padding-top: 15.5%;
    transition: all 0.3s;
    vertical-align: middle;
    width: 15.5%; }
    .featured-article__image:hover {
      opacity: 0.8; }
    @media screen and (max-width: 720px) {
      .featured-article__image {
        display: block;
        margin: -9.5% auto 2%;
        padding-top: 25%;
        width: 25%; } }
    @media screen and (max-width: 480px) {
      .featured-article__image {
        margin-top: -14.5%;
        padding-top: 35%;
        width: 35%; } }
  .featured-article__text {
    display: inline-block;
    max-width: 82%;
    text-align: left;
    vertical-align: middle; }
    @media screen and (max-width: 720px) {
      .featured-article__text {
        display: block;
        margin-bottom: 5%;
        max-width: 100%;
        text-align: center; } }
    .featured-article__text p {
      color: #9b242d;
      font-size: .77778em;
      font-weight: 700;
      margin-bottom: .3%;
      text-transform: uppercase;
      transition: all 0.3s; }
    .featured-article__text p:hover {
      color: #481115; }
    .featured-article__text h4 {
      transition: all 0.3s; }
    .featured-article__text h4:hover {
      color: black; }
    .featured-article__text strong {
      font-family: "DINBlack"; }
      @media screen and (max-width: 720px) {
        .featured-article__text strong {
          display: block; } }

.mission {
  margin: 0 auto;
  min-width: 320px;
  width: 1024px;
  margin-bottom: 65px; }
  @media screen and (max-width: 1064px) {
    .mission {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; } }
  @media screen and (max-width: 720px) {
    .mission {
      margin-bottom: 6.5%;
      padding: 0; } }
  .mission h6 {
    text-align: center; }
    .mission h6 strong {
      font-family: "DINBlack"; }
      @media screen and (max-width: 720px) {
        .mission h6 strong {
          display: block; } }

.mission-content {
  zoom: 1;
  margin-bottom: 6.5%;
  overflow: hidden;
  padding: 4% 0;
  position: relative; }
  .mission-content::after {
    clear: both; }
  .mission-content::after, .mission-content::before {
    content: '';
    display: table; }
  .mission-content:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 720px) {
    .mission-content {
      padding: 4% 5%; } }
  .mission-content h2,
  .mission-content h4 {
    width: 85%;
    word-break: break-word; }
    @media screen and (max-width: 720px) {
      .mission-content h2,
      .mission-content h4 {
        width: 100%; } }
  .mission-content h2 {
    line-height: .88;
    margin-bottom: -.5%;
    padding-top: 4%; }
    .mission-content h2.invert {
      font-family: "ff-din-web";
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 1.6%; }
  .mission-content h4 {
    border-bottom: 6px solid #70b6bc;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 2%;
    padding-bottom: 1.5%; }
    @media screen and (max-width: 720px) {
      .mission-content h4 {
        border-bottom-width: 4px; } }
    .mission-content h4.invert {
      font-family: "DINBlack";
      font-weight: 400;
      line-height: .88;
      padding-bottom: .3%; }
  .mission-content__image {
    display: block;
    float: left;
    left: 27.5%;
    margin-left: -27.5%;
    padding-left: 8.5%;
    position: relative;
    width: 75%; }
    @media screen and (max-width: 720px) {
      .mission-content__image {
        padding: 0;
        width: 100%; } }
  .mission-content__person {
    float: right;
    max-width: 49%;
    position: relative;
    z-index: 2; }
    .mission-content__person.no-person {
      display: none; }
    @media screen and (max-width: 720px) {
      .mission-content__person {
        display: none; } }
  .mission-content--right .circle--background__mobile {
    left: 10%;
    right: auto; }
  .mission-content--right h2,
  .mission-content--right h4 {
    margin-left: 15%;
    text-align: right;
    width: 85%; }
    @media screen and (max-width: 720px) {
      .mission-content--right h2,
      .mission-content--right h4 {
        margin-left: 0;
        width: 100%; } }
  .mission-content--right .mission-content__image {
    float: right;
    left: auto;
    margin-left: 0;
    margin-right: -27.5%;
    padding-left: 0;
    padding-right: 8.5%;
    right: 27.5%; }
    @media screen and (max-width: 720px) {
      .mission-content--right .mission-content__image {
        padding: 0; } }
  .mission-content--right .mission-content__person {
    float: left; }
  .mission-content--right .mission-content__description {
    clear: right;
    float: right;
    left: auto;
    margin-left: 0;
    margin-right: -12.5%;
    padding-left: 0;
    padding-right: 8.5%;
    right: 12.5%; }
    @media screen and (max-width: 720px) {
      .mission-content--right .mission-content__description {
        float: left;
        padding-right: 0;
        right: auto; } }
  .mission-content--right .mission-content__navigation {
    clear: left;
    float: left;
    padding-left: 6.5%;
    padding-right: 0; }
    @media screen and (max-width: 720px) {
      .mission-content--right .mission-content__navigation {
        padding-left: 0;
        width: 85%; } }

.mission-content__description {
  clear: left;
  float: left;
  left: 12.5%;
  margin-left: -12.5%;
  padding-left: 8.5%;
  padding-top: 3.2%;
  position: relative;
  width: 58%; }
  @media screen and (max-width: 720px) {
    .mission-content__description {
      padding-left: 0;
      width: 85%; } }
  .mission-content__description h3 {
    margin-bottom: 3%; }
  .mission-content__description strong {
    color: #70b6bc;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin: -1% 0 1.6%;
    text-transform: uppercase; }
  .mission-content__description p {
    font-family: "minion-pro";
    font-size: .88889em;
    line-height: 1.5; }

.mission-content__navigation {
  clear: right;
  float: right;
  margin-top: -1.9%;
  padding-right: 6.5%;
  position: relative;
  width: 35%;
  z-index: 1; }
  @media screen and (max-width: 720px) {
    .mission-content__navigation {
      float: left;
      margin-top: 4%;
      padding-right: 0;
      width: 85%; } }
  .mission-content__navigation.has-person {
    margin-top: 4%; }
  .mission-content__navigation strong {
    background-color: #70b6bc;
    color: #fff;
    display: block;
    font-size: .77778em;
    font-weight: 700;
    line-height: 1;
    padding: 5% 8%;
    text-transform: uppercase; }
    @media screen and (max-width: 720px) {
      .mission-content__navigation strong {
        padding: 2.2% 3.8%; } }
  .mission-content__navigation nav {
    padding: 7%; }
    @media screen and (max-width: 720px) {
      .mission-content__navigation nav {
        padding: 4%; } }
  .mission-content__navigation li {
    margin-bottom: 5%; }
    @media screen and (max-width: 720px) {
      .mission-content__navigation li {
        margin-bottom: 2%; } }
    .mission-content__navigation li:last-child {
      margin-bottom: 0; }
  .mission-content__navigation .link {
    line-height: .9; }

.link-buttons {
  margin: 0 auto;
  min-width: 320px;
  width: 1024px;
  zoom: 1;
  overflow: hidden;
  padding: 7% 0 6.5%;
  position: relative; }
  @media screen and (max-width: 1064px) {
    .link-buttons {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; } }
  .link-buttons::after {
    clear: both; }
  .link-buttons::after, .link-buttons::before {
    content: '';
    display: table; }
  @media screen and (max-width: 720px) {
    .link-buttons .circle--background {
      display: block;
      left: -125%;
      padding-top: 350%;
      width: 350%; } }
  .link-buttons__split {
    float: left;
    padding: 0 2%;
    text-align: center;
    width: 50%; }
    @media screen and (max-width: 720px) {
      .link-buttons__split {
        float: none;
        margin-bottom: 5%;
        width: 100%; }
        .link-buttons__split:last-child {
          margin-bottom: 0; } }
    .link-buttons__split h4 {
      font-weight: 700;
      margin-bottom: 1%; }
    .link-buttons__split p {
      font-family: "minion-pro";
      font-size: .88889em;
      line-height: 1.7; }
    .link-buttons__split ul {
      margin-top: 3.6%; }
    .link-buttons__split li {
      display: inline-block;
      margin: 2.1% 1.7%; }
      @media screen and (max-width: 720px) {
        .link-buttons__split li {
          display: block; } }

@-skrollr-keyframes article {
  skrollr-40p-top {
    margin-top: 1%; }
  skrollr-30p-top {
    margin-top: -1%; } }

@-skrollr-keyframes mission-person {
  skrollr-90p-top {
    margin-top: 10%; }
  skrollr-60p-top {
    margin-top: 0; } }

@-skrollr-keyframes mission-title {
  skrollr-100p-top {
    margin-top: 20%; }
  skrollr-40p-top {
    margin-top: 0; } }

@-skrollr-keyframes mission-image {
  skrollr-100p-top {
    margin-top: 10%; }
  skrollr-50p-top {
    margin-top: 0; } }

@-skrollr-keyframes mission-description {
  skrollr-90p-top {
    margin-top: 10%; }
  skrollr-50p-top {
    margin-top: 0; } }

@-skrollr-keyframes split-container-links {
  skrollr-110p-top {
    margin-top: 15%; }
  skrollr-70p-top {
    margin-top: 0; } }

.featured-article--animation {
  -skrollr-animation-name: article; }

.mission-content__person--animation {
  -skrollr-animation-name: mission-person; }

.mission-content__title--animation {
  -skrollr-animation-name: mission-title; }

.mission-content__image--animation {
  -skrollr-animation-name: mission-image; }

.mission-content__description--animation {
  -skrollr-animation-name: mission-description; }

.link-buttons__split--animation {
  -skrollr-animation-name: split-container-links; }
