body {
  background-color: $background;
  color: $font;
  font-family: $main-font, sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;

  @media screen and (max-width: $responsive) {
    font-size: 17px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h6 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: $third-font;
}

h1,
h2,
h3,
h4,
h6,
strong {
  font-weight: 400;
}

h1 {
  font-size: $h1 + em;

  @media screen and (max-width: $responsive) {
    @include responsive-font($h1, $responsive-ratio);
  }

  @media screen and (max-width: $tablet) {
    @include responsive-font($h1, $tablet-ratio);
  }

  @media screen and (max-width: $mobile) {
    @include responsive-font($h1, $mobile-ratio);
  }

  @media screen and (max-width: $small) {
    @include responsive-font($h1, $small-ratio);
  }
}

h2,
h4.invert {
  font-size: $h2 + em;

  @media screen and (max-width: $responsive) {
    @include responsive-font($h2, $responsive-ratio);
  }

  @media screen and (max-width: $tablet) {
    @include responsive-font($h2, $tablet-ratio);
  }

  @media screen and (max-width: $mobile) {
    @include responsive-font($h2, $mobile-ratio);
  }

  @media screen and (max-width: $small) {
    @include responsive-font($h2, $small-ratio);
  }
}

h3 {
  font-size: $h3 + em;

  @media screen and (max-width: $responsive) {
    @include responsive-font($h3, $responsive-ratio);
  }

  @media screen and (max-width: $tablet) {
    @include responsive-font($h3, $tablet-ratio);
  }

  @media screen and (max-width: $mobile) {
    @include responsive-font($h3, $mobile-ratio);
  }

  @media screen and (max-width: $small) {
    @include responsive-font($h3, $small-ratio);
  }
}

h2.invert,
h4 {
  font-size: $h4 + em;

  @media screen and (max-width: $responsive) {
    @include responsive-font($h4, $responsive-ratio);
  }

  @media screen and (max-width: $tablet) {
    @include responsive-font($h4, $tablet-ratio);
  }

  @media screen and (max-width: $mobile) {
    @include responsive-font($h4, $mobile-ratio);
  }

  @media screen and (max-width: $small) {
    @include responsive-font($h4, $small-ratio);
  }
}

h5 {
  font-size: $h5 + em;

  @media screen and (max-width: $responsive) {
    @include responsive-font($h5, $responsive-ratio);
  }

  @media screen and (max-width: $tablet) {
    @include responsive-font($h5, $tablet-ratio);
  }

  @media screen and (max-width: $mobile) {
    @include responsive-font($h5, $mobile-ratio);
  }

  @media screen and (max-width: $small) {
    @include responsive-font($h5, $small-ratio);
  }
}

h6 {
  font-size: $h6 + em;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}
