@mixin container {
  margin: 0 auto;
  min-width: $minimum;
  width: $container;

  @media screen and (max-width: $responsive) {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

@mixin clearfix {
  zoom: 1;

  &::after {
    clear: both;
  }

  &::after,
  &::before {
    content: '';
    display: table;
  }
}

@mixin responsive-font($font, $ratio) {
  font-size: (1 + ($ratio * ($font - 1))) + em;
}
