// Colors
$background: #fff;
$default: #70b6bc;
$divider: #b7b7b7;
$font: #333;
$header: #000;
$link: #2a85ad;
$small-heading: #9b242d;

// Fonts
$main-font: 'ff-din-web';
$secondary-font: 'minion-pro';
$third-font: 'DINBlack';

// Heading Font Ems
$h1: 6.11111;
$h2: 5;
$h3: 2.66667;
$h4: 2;
$h5: 1.66667;
$h6: 1;

// Font ratio
$responsive-ratio: .8;
$tablet-ratio: .64;
$mobile-ratio: .47;
$small-ratio: .3;

// Variables
$container: 1024px;
$mission-opacity: .1;
$transition-duration: .3s;
$video-opacity: .8;

// Breakpoints
$minimum: 320px;
$mobile: 720px;
$small: 480px;
$responsive: $container + 40;
$tablet: 900px;
