@import url("//hello.myfonts.net/count/30e4c0");

@font-face {
  font-family: 'DINBlack';
  src: url('../webfonts/DIN_Black.eot');
  src: url('../webfonts/DIN_Black.eot?#iefix')
       format('embedded-opentype'),
       url('../webfonts/DIN_Black.woff2')
       format('woff2'),
       url('../webfonts/DIN_Black.woff')
       format('woff'),
       url('../webfonts/DIN_Black.ttf')
       format('truetype'),
       url('../webfonts/DIN_Black.svg#wf')
       format('svg');
}
